@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --shadow-1:  0 .125rem .25rem rgba(0,0,0,.075);
    --shadow-2:  0 .5rem 1rem rgba(0,0,0,.15);
    --shadow-3:  0 1rem 3rem rgba(0,0,0,.175);
}
*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
a,
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(img/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner h1{
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
.banner p{
    width: 50vw;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

/* fill button */

.fill-button {
    position: relative;
    overflow:hidden;
    display:inline-block;
    width: 150px;
    height: 30px;
    border:1px solid #35495e;
    text-align:center;
    box-sizing:border-box;
    color:#35495e;
    text-decoration:none;
    cursor: pointer;
    line-height:28px;
    font-family: 'arial';
    border-radius: 4px;
    margin-top: 20px;
  }
  .fill-button > span {
    display:block;
  }
  .fill-button > .fill-button-hover:after, .fill-button > .fill-button-hover:before {
    position:absolute;
    top:0;
    opacity:0;
    display:block;
    content:"";
    width:0;
    height:30px;
  }
  .fill-button > .fill-button-hover:after {
    background-color:#35495e;
    transform:skewX(45deg);
    transform-origin:center center;
    transition:all .35s, opacity .4s;
    left:50%;
  }
  .fill-button .fill-button-hover:before {
    background-color:#42b883;
    transition:opacity 1s;
  }
  
  .fill-button .fill-button-text {
    z-index:1;
    position:relative;
    color:#35495e;
    transition:color .35s;
  }
  .fill-button:hover .fill-button-text {
    color:#42b883;
  }
  .fill-button .fill-button-hover:hover:after {
    opacity:1;
    left:2%;
    width:95%;
    transform:skewX(45deg);
  }
  .fill-button > .fill-button-hover:hover:before {
    opacity: 1;
    left: 0;
    width:100%;
  }


/* Modal */
.modal{
    width: 40vw;
    height: 70vh;
    background: #242526;
    border: 1px solid #2F3031;
    border-radius: 20px;
    position: fixed;
    top: 15vh;
    left: 30vw;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    /* Junction */
    pointer-events: none;
    opacity: 0;
    transform: translateY(-80px);
    transition: all 0.3s ease-in-out;
}
.modal.active{
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0px);
}

.modal .modal-header{
    padding: 10px 20px;
    border-bottom: 1px solid #2F3031;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.close {
    color: #A8ABAF;
    background: #3A3B3C;
    font-size: 35px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    line-height: 40px;
    font-weight: normal;
    cursor: pointer;
}
button.close:hover{
    background: #474849;
}
.modal .modal-header h2{
    color: #fff;
    text-align: center;
    font-weight: normal;
    margin-left: 35%;
}
.modal .modal-body{
    padding: 20px;
    height: 60vh;
}
.modal .modal-body form textarea:focus{
    outline: none;
}
.modal .modal-body form textarea{
    width: 100%;
    resize: none;
    background: transparent;
    border: none;
    font-size: 25px;
    color: #A3A6AA;
    font-weight: normal;
}
.modal .modal-footer{
    background: url(./img/post_icon.png) no-repeat center center;
    background-size: cover ;
    height: 50px;
    margin: 20px;
    border: 1px solid #2F3031;
    border-radius: 15px;
    cursor: pointer;
}

/* ALERT */
.alert{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.473);
}
.alert-content{
    width: 30vw;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.alert-content .alert-header{
    display: flex;
    justify-content: space-between;
}
.alert-content .alert-header h2{}
button.edit-close {
    color: #A8ABAF;
    background: #3A3B3C;
    font-size: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    line-height: 35px;
    font-weight: normal;
    cursor: pointer;
}
button.edit-close:hover{
    background: #474849;
}
.alert-content .alert-body{
    padding: 20px 0;
}
.alert-content .alert-footer{
    display: flex;
    justify-content: end;
}
.alert-content .alert-footer .edit{
    background: #fff;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 20px;
    color: #0E72ED;
    font-size: 14px;
    margin-right: 8px;
    border: 1px solid #A8ABAF;
}
.alert-content .alert-footer .discard {
    background: #0E72ED;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid transparent;
}